[Desktop Entry]
Type=Application
Exec=pin %u
Icon=/usr/share/pixmaps/pin.svg
Terminal=false
Categories=Graphics;2DGraphics;Viewer;
MimeType=image/png;
NoDisplay=true

Name=pin
GenericName=Image pinner
Comment=Image pinner
StartupWMClass=pin
